<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wilson.cms.mapper.IAdMapper" >
    <resultMap id="itemMap" type="com.wilson.cms.po.AdPo" ></resultMap>
    <select id="search" resultMap="itemMap" parameterType="com.wilson.cms.vo.RequestArgs" >
        select
        a.id,a.target_id,a.name,a.begin_time,a.end_time,a.url,a.type,a.res_id,a.sort
        from  ad a where a.status &gt;= 0
        <if test="keyword != null" >
            and (a.name like "%"#{keyword} "%" )
        </if>
        <if test="type != null" >
            and a.type = #{type}
        </if>
        order by a.update_time desc
    </select>
    <insert id="add" parameterType="com.wilson.cms.po.AdPo">
        insert into ad(id, name, target_id, create_user_id,create_time
        <if test="beginTime!=null">,begin_time</if>
        <if test="endTime!=null">,end_time</if>
        <if test="url!=null">,url</if>
        <if test="type!=null">,type</if>
        <if test="resId!=null">,res_id</if>
        <if test="sort!=null">,sort</if>
        )
        select #{id},#{name},#{targetId} ,#{createUserId},#{createTime}
        <if test="beginTime!=null">,#{beginTime}</if>
        <if test="endTime!=null">,#{endTime}</if>
        <if test="url!=null">,#{url}</if>
        <if test="type!=null">,#{type}</if>
        <if test="resId!=null">,#{resId}</if>
        <if test="sort!=null">,#{sort}</if>
    </insert>
    <update id="update" parameterType="com.wilson.cms.po.AdPo">
        update meta set update_time=#{updateTime},update_user_id=#{updateUserId}
        <if test="beginTime!=null">,begin_time=#{beginTime}</if>
        <if test="endTime!=null">,end_time=#{endTime}</if>
        <if test="url!=null">,url=#{url}</if>
        <if test="type!=null">,type=#{type}</if>
        <if test="resId!=null">,res_id=#{resId}</if>
        <if test="sort!=null">,sort=#{sort}</if>
        <if test="status!=null">,status=#{status}</if>
        where id=#{id}
    </update>
</mapper>