<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wilson.cms.mapper.IMaterialMapper" >
    <resultMap id="itemMap" type="com.wilson.cms.po.MaterialPo" >
    </resultMap>
    <select id="search" resultMap="itemMap" parameterType="com.wilson.cms.vo.RequestParam" >
        select id,meta_id,name,file_name,file_type,file_size,url,create_time
        from material  where status = 0
        <if test="keyword != null" >
            and (name like "%"#{keyword} "%" )
        </if>
        <if test="metaId != null" >
            and meta_d = #{metaId}
        </if>
        order by create_time desc
    </select>

    <insert id="add" parameterType="com.wilson.cms.po.MaterialPo">
        insert  into material(id,name,meta_id,create_user_id,create_time
            <if test="fileName!=null">,file_name</if>
            <if test="fileType!=null">,file_type</if>
            <if test="fileSize!=null">,file_size</if>
            <if test="url!=null">,url</if>
        )
        select #{id},#{name} ,#{metaId},#{createUserId} ,#{createTime}
        <if test="fileName!=null">,#{fileName}</if>
        <if test="fileType!=null">,#{fileType}</if>
        <if test="fileSize!=null">,#{fileSize}</if>
        <if test="url!=null">,#{url}</if>
    </insert>

</mapper>