<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wilson.cms.mapper.INewsMapper" >
    <resultMap id="itemMap" type="com.wilson.cms.po.NewsPo" >
    </resultMap>
    <select id="search" resultMap="itemMap" parameterType="com.wilson.cms.vo.RequestParam" >
        select  n.id,n.title,n.meta_id,n.cover_id,m.url cover_url
        from news n left join material m on n.cover_id=m.id
        where 1=1   n.status &gt;= 0
        <if test="status != null" >
        and  n.status =#{status}
        </if>
        <if test="keyword != null" >
            and (n.title like "%"#{keyword} "%" or n.keyword like  "%"#{keyword} "%"  or n.author like  "%"#{keyword} "%"  )
        </if>
        <if test="metaId != null" >
            and n.meta_id = #{metaId}
        </if>
        order by n.is_top desc,n.sort ,n.update_time desc
    </select>
    <select id="get" resultType="com.wilson.cms.po.NewsPo" parameterType="java.lang.Long" >
          select n.* ,m.url as cover_url ,d.text as content
        from news n left join material m on n.cover_id=m.id
        left join news_content d on d.id=n.id
        where n.id=#{id}
    </select>

    <insert id="add" parameterType="com.wilson.cms.po.NewsPo">
        insert  into news(id,title,create_user_id,create_time
            <if test="publishTime!=null">,publish_time</if>
            <if test="offlineTime!=null">,offline_time</if>
            <if test="isAutoPublish">,is_auto_publish</if>
            <if test="isAutoOffline">,is_auto_offline</if>
            <if test="isTop">,is_top</if>
            <if test="isHot">,is_hot</if>
            <if test="isRecommend">,is_recommend</if>
            <if test="sort!=null">,sort</if>
            <if test="keyword!=null">,keyword</if>
            <if test="description!=null">,description</if>
            <if test="sourceUrl!=null">,source_url</if>
            <if test="source!=null">,source</if>
            <if test="author!=null">,author</if>
            <if test="metaId!=null">,meta_id</if>
            <if test="coverId!=null">,cover_id</if>
            <if test="status!=null">,status</if>
        )
        select #{id},#{title} ,#{createUserId} ,#{createTime}
        <if test="publishTime!=null">,#{publishTime}</if>
        <if test="offlineTime!=null">,#{offlineTime}</if>
        <if test="isAutoPublish">,#{isAutoPublish}</if>
        <if test="isAutoOffline">,#{isAutoOffline}</if>
        <if test="isTop">,#{isTop}</if>
        <if test="isHot">,#{isHot}</if>
        <if test="isRecommend">,#{isRecommend}</if>
        <if test="sort!=null">,#{sort}</if>
        <if test="keyword!=null">,#{keyword}</if>
        <if test="description!=null">,#{description}</if>
        <if test="sourceUrl!=null">,#{sourceUrl}</if>
        <if test="source!=null">,#{source}</if>
        <if test="author!=null">,#{author}</if>
        <if test="metaId!=null">,#{metaId}</if>
        <if test="coverId!=null">,#{coverId}</if>
        <if test="status!=null">,#{status}</if>
    </insert>
    <update id="update" parameterType="com.wilson.cms.po.NewsPo">
        update news set title=#{title},update_time=#{updateTime},update_user_id=#{updateUserId}
        <if test="publishTime!=null">,publish_time=#{publishTime}</if>
        <if test="offlineTime!=null">,offline_time=#{offlineTime}</if>
        <if test="isAutoPublish">,is_auto_publish=#{isAutoPublish}</if>
        <if test="isAutoOffline">,is_auto_offline=#{isAutoOffline}</if>
        <if test="isTop">,is_top=#{isTop}</if>
        <if test="isHot">,is_hot=#{isHot}</if>
        <if test="isRecommend">,is_recommend=#{isRecommend}</if>
        <if test="sort!=null">,sort=#{sort}</if>
        <if test="keyword!=null">,keyword=#{keyword}</if>
        <if test="description!=null">,description=#{description}</if>
        <if test="sourceUrl!=null">,source_url=#{sourceUrl}</if>
        <if test="source!=null">,source=#{source}</if>
        <if test="author!=null">,author=#{author}</if>
        <if test="metaId!=null">,meta_id=#{metaId}</if>
        <if test="coverId!=null">,cover_id=#{coverId}</if>
        <if test="status!=null">,status=#{status}</if>
        where id=#{id}
    </update>

</mapper>