<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wilson.cms.mapper.IUserInfoMapper" >
  <resultMap id="itemMap" type="com.wilson.cms.po.UserInfoPo" >
  </resultMap>
    <sql id="base_column_list" >
        id,type,name,real_name,nickname,email,mobile,gender,status,activate_status,head_url,level
  </sql>
    <select id="searchUser" resultMap="itemMap" parameterType="com.wilson.cms.vo.RequestParam" >
    select
        u.id,i.type,i.name,i.nickname,i.email,i.mobile,i.gender,u.status,i.activate_status,i.head_url,i.level,i.birth_date
    from user u left join user_info i on u.id=i.id
      where u.status &gt;= 0
    <if test="keyword != null" >
       and (i.name like "%"#{keyword} "%" or i.nickname like  "%"#{keyword} "%" or i.mobile like  "%"#{keyword} "%" )
    </if>
     <if test="type != null" >
       and i.type = #{type}
    </if>
    order by i.update_time desc
</select>
    <select id="getUser" resultType="com.wilson.cms.po.UserInfoPo" parameterType="java.lang.Long" >
        select
        u.id,i.type,i.name,i.nickname,i.gender,i.activate_status,i.head_url
        from user u left join user_info i on u.id=i.id
        where u.id=#{id}
    </select>
<insert id="add" parameterType="com.wilson.cms.po.UserInfoPo">
    insert  into user_info(id,mobile,nickname,create_user_id,create_time
    <if test="activateStatus!=null">,activate_status</if>
    <if test="level!=null">,level</if>
    <if test="type!=null">,type</if>
    <if test="headUrl!=null">,head_url</if>
    <if test="email!=null">,email</if>
    <if test="name!=null">,name</if>
    <if test="gender!=null">,gender</if>
    <if test="idCardNo!=null">,id_card_no</if>
    <if test="birthDate!=null">,birth_ate</if>
    )
    select #{id},#{mobile} ,#{nickname},#{createUserId} ,#{createTime}
    <if test="activateStatus!=null">,#{activateStatus}</if>
    <if test="level!=null">,#{level}</if>
    <if test="type!=null">,#{type}</if>
    <if test="headUrl!=null">,#{headUrl}</if>
    <if test="email!=null">,#{email}</if>
    <if test="name!=null">,#{name}</if>
    <if test="gender!=null">,#{gender}</if>
    <if test="idCardNo!=null">,#{idCardNo}</if>
    <if test="birthDate!=null">,#{birthDate}</if>

</insert>
    <update id="update" parameterType="com.wilson.cms.po.UserInfoPo">
        update user_info set update_time=#{updateTime},update_user_id=#{updateUserId}
        <if test="name!=null">  ,name=#{name} </if>
        <if test="nickname!=null">  ,nickname=#{nickname} </if>
        <if test="gender!=null">  ,gender=#{gender} </if>
        <if test="email!=null">  ,email=#{email} </if>
        <if test="birthDate!=null">  ,birth_date=#{birthDate}  </if>
        <if test="mobile!=null">  ,mobile=#{mobile} </if>
        <if test="activateStatus!=null">  ,activate_status=#{activateStatus} </if>
        <if test="level!=null">  ,level=#{level}  </if>
        <if test="type!=null">  ,type=#{type} </if>
        <if test="idCardNo!=null">  ,id_card_no=#{idCardNo} </if>
        <if test="headUrl!=null">  ,head_url=#{headUrl} </if>
        where id=#{id}
    </update>
    <update id="batchDelete" parameterType="java.util.List">
        UPDATE user  SET status=2  WHERE id IN
        <foreach collection="list" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>
</mapper>