<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="share/head :: head(~{::seo})">
    <seo>
        <title>用户管理</title>
    </seo>
</head>
<body class="skin-blue content-body">
<div class="content-header">
    <h1>类别管理 - 列表
        <small>(共 <span id="txtRecordCount">0</span> 条)</small>
    </h1>
</div>
<div class="content">
    <div class="box box-primary">
        <div class="box-body table-responsive">
            <div class="row">
                <div class="col-xs-2 text-center">
                    <div class="btn-toolbar ls-btn-bar">
                        <div class="btn-group">
                            <button class="btn btn-default" type="button" onclick="location.href='/meta/edit';">新增
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btnBatchDel" type="button">批量删除
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group">
                        <input type="text" id="search_keyowrd" name="keyword" class="form-control"
                               placeholder="请输入关键字(名称)">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="btnSearchData" type="button"
                                    onclick="javascript:R.Search();">
                                <span class="xlc-dark-search-icon">搜索</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-hover ls-tb">
                        <thead>
                        <tr class="ls_table_th">
                            <th class="w60">
                                <input type="checkbox" id="checkAll" class="cur"/>
                                <label for="checkAll" class="cur">全选</label>
                            </th>
                            <th class="w100">ID</th>
                            <th class="w200">类型</th>
                            <th class="w200">父级</th>
                            <th class="w200">名称</th>
                            <th class="w100">层级</th>
                            <th class="w100">排序值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tbData">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row part-right">
                <div class="col-xs-12 text-center">
                    <nav aria-label="Page navigation" id="pager"></nav>
                </div>
            </div>

        </div>
    </div>
</div>

<script id="tplEdit" type="text/template">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h4 class="modal-title">编辑类别</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <input type="hidden" name="categoryId" value="${it.categoryId|Default,0}"/>
                <input type="hidden" name="parentId" value="${it.parentId|Default,0}">
                <div class="row">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label"><em
                                class="required">*</em>名称</label>
                        <div class="col-sm-8">
                            <input type="text" id="name"  value="${it.name|Default}" maxlength="50"
                                   class="form-control {required:true,messages:{required:'名称不能为空'}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="parentId" class="col-sm-3 control-label"> 父级</label>
                        <div class="col-sm-8">
                            <input type="text" id="parentId" value="${it.parentName|Default}" readonly="readonly"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">层级</label>
                        <div class="col-sm-8">
                            <input type="text"class="form-control" value="${it.level|Default}" readonly="readonly"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="sort" class="col-sm-3 control-label">排序值</label>
                        <div class="col-sm-8">
                            <input type="text" id="sort" name="sort" class="form-control {digits:true,min:1}" value="${it.sort|Default}" maxlength="3"/>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">
                <i class="fa fa-close"> 取 消 </i>
            </button>
            <button type="button" class="btn blue btnSave">
                <i class="fa fa-save"> 保 存 </i>
            </button>

        </div>
    </div>
</script>
<script id="tplData" type="text/template">
    {@if Data!=null && Data.length>0}
    {@each Data as it,index}
    <tr>
        <td><input type="checkbox" name="id" class="cur" value="${it.metaId}"></td>
        <td>${it.metaId}</td>
        <td>${it.type|MetaTypeText}</td>
        <td>${it.parentName|Default,"--"}</td>
        <td>${it.name}</td>
        <td>${it.level}</td>
        <td>${it.sort}</td>
        <td>
            <a href="/meta/edit?id=${it.metaId}" >编辑</a>
            <a href="#" data-type="delete" data-id="${it.metaId}" class="operation">删除</a>
        </td>
    </tr>
    {@/each}
    {@else}
    <tr>
        <td colspan="8" class="ls-norecord">没有找到相关数据！</td>
    </tr>
    {@/if}
</script>
<th:block th:replace="share/foot::script(~{::script})">
    <script type="text/javascript">
        var __Data__ = {
            Url: {
                Search_Meta_Url: '/meta/search',
                BatchDelete_Meta_Url: '/meta/batchdelete',
                Save_Meta_Url:'/meta/save'
            }
        }
    </script>
    <script type="text/javascript" src="/static/js/meta/index.js">
    </script>

</th:block>
</body>
</html>
