<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head(seo)" >
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <th:block th:include="${seo}" />
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/lib/adminlte/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/lib/adminlte/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

