<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="share/head :: head(~{::seo})">
    <seo>
        <title>编辑用户</title>
    </seo>
</head>
<body class="skin-blue content-body">
<div class="content-header">
    <h1>后台首页</h1>
</div>
<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="btn-toolbar">


            </div>
        </div>
        <div class="box-body">
         开发中
        </div>
    </div>
</div>
</body>
</html>